In [14]:
import pandas as pd
import numpy as np
from collections import Counter

In [3]:
author = pd.read_csv('../data/ht_class/ht_cleaned_author_df.csv')
paper = pd.read_csv('../data/ht_class/ht_cleaned_paper_df.csv')

In [6]:
# first conference papers
first_conf_papers = paper[paper.Year == min(paper.Year)]
first_conf_papers.shape

(52, 27)

In [12]:
# first conf authors
first_conf_authors = author[author.Year == min(author.Year)]
unique_first_conf_authors = list(
    set(first_conf_authors['OpenAlex Author ID']))
len(unique_first_conf_authors)

118

In [21]:
# this person appeared twice in year 1990
dic = dict(Counter(first_conf_authors['OpenAlex Author ID']))
twice_id = [x for x in dic.keys() if dic[x] > 1]
first_conf_authors[first_conf_authors['OpenAlex Author ID'] == twice_id[0]]

,Year,DOI,Title,Number of Authors,Author Position,Author Name,OpenAlex Author ID,Affiliation Name,Affiliation Country Code,Affiliation Type,Binary Type,Cross-type Collaboration,International Collaboration
7746,1990,10.1109/VISUAL.1990.146385,A journey into the fourth dimension,2.0,2.0,E.S. Panduranga,https://openalex.org/A2302757246,department of computer sciences johns hopkins ...,US,education,education,False,True
9955,1990,10.1109/VISUAL.1990.146393,A numerical method for rendering spherical ref...,3.0,2.0,E.S. Panduranga,https://openalex.org/A2302757246,department of computer sciences johns hopkins ...,US,education,education,False,False

In [22]:
# first conf author countries
Counter(first_conf_authors['Affiliation Country Code'])

Counter({'US': 109, 'DE': 4, 'AU': 3, 'CA': 1, 'FR': 2})

In [25]:
# how many rows miss openalex author id
author[author['OpenAlex Author ID'].isnull()].shape[0]

117

In [26]:
# total number of unique authors
author_id_nonan = author[author['OpenAlex Author ID'].notnull()]
unique_total_authors = list(set(author_id_nonan['OpenAlex Author ID']))

In [27]:
len(unique_total_authors)

6299

In [29]:
# total number of unique countries
unique_cntry_total_authors = list(set(author_id_nonan['Affiliation Country Code']))

In [30]:
len(unique_cntry_total_authors)

42